<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>Winterpokal AngularJS Bootstrap Lernprojekt</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>
<body ng-app="mdrzaspApp" ng-controller="ApplicationController">
<div class="container">
  <nav class="navbar navbar-default navbar-fixed-top" ng-show="isAuthorized()">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="nav navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <button type="button" ng-click="goTo('/addentry')"
                class="btn btn-primary navbar-btn visible-xs">Einheit eintragen</button>
        <button ng-show="!currentUser.username" type="button" ng-click="showProfileDialog()"
                class="btn navbar-btn visible-xs">Profil bearbeiten</button>

      </div>
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="nav navbar-nav">
          <li ng-class="{'active': path == '/'}"><a href="#/">Meine Einheiten</a></li>
          <li ng-class="{'active': path == '/ranking'}"><a href="#/ranking">Ranglisten</a></li>
          <li>
            <button type="button" ng-click="showEntryEditDialog()" class="btn btn-primary navbar-btn hidden-xs">Einheit eintragen
            </button>
            <button ng-show="!currentUser.username" type="button" ng-click="showProfileDialog()"
                    class="btn navbar-btn hidden-xs">Profil bearbeiten</button>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" role="button"
                                  aria-expanded="false"><span class="glyphicon glyphicon-user"
                                                              aria-hidden="true"></span><span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a ng-click="showProfileDialog()">Profil bearbeiten</a></li>
              <li><a ng-click="logout()">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <application-messages/></application-messages>
  <div ng-view="" ng-show="isAuthorized() || isLoginPage || isPasswordRestPage"></div>
  <div login-dialog ng-if="!isLoginPage"></div>
  <profile-dialog />
  <entry-Dialog />
</div>

<footer class="footer">
  <div class="container">
    powered by:
    <a href="https://uberspace.de"><img src="images/ueberspace.png"/></a>
    <a href="https://angularjs.org/"><img src="images/AngularJS-small.png"/></a>
    <a href="http://strongloop.com/"><img src="images/SL_Logo.png"/></a>
  </div>
</footer>

<!-- build:js(.) scripts/oldieshim.js -->
<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.js"></script>
<![endif]-->
<!-- endbuild -->

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/affix.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/alert.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/button.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/carousel.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/collapse.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/dropdown.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tab.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/transition.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/scrollspy.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/modal.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tooltip.js"></script>
<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/popover.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.module.js"></script>
<script src="scripts/app.config.js"></script>
<script src="scripts/app.run.js"></script>
<script src="scripts/constants.js"></script>
<script src="scripts/services/auth.service.js"></script>
<script src="scripts/services/session.service.js"></script>
<script src="scripts/directives/loginDialog.directive.js"></script>
<script src="scripts/directives/profileDialog.directive.js"></script>
<script src="scripts/directives/addEntry.directive.js"></script>
<script src="scripts/services/rest-service.js"></script>
<script src="scripts/controllers/main.controller.js"></script>
<script src="scripts/controllers/login.controller.js"></script>
<script src="scripts/controllers/ranking.controller.js"></script>
<script src="scripts/controllers/profile.controller.js"></script>
<script src="scripts/application.controller.js"></script>
<script src="scripts/controllers/resetPassword.controller.js"></script>
<script src="scripts/services/applicationMessage.service.js"></script>
<script src="scripts/directives/applicationMessages.directive.js"></script>
<script src="scripts/directives/passwordAndRepeatAreEqual.directive.js"></script>
<!-- endbuild -->
</body>
</html>
